::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("./images/fotbollsplan.jpg");
  font-family: "Boogaloo", sans-serif;
  position: relative;
}

h1 {
  font-size: 5rem;
  padding: 0.2em 0.5em;
  border-radius: 20px;
  color: #8b4513;
  background-color: #ffd700;
  border: 4px solid #827114;
  box-shadow: 5px 5px 10px #f7e47a;
}

.timer-div {
  background-color: white;
  font-size: 3rem;
  padding: 0.3em;
  border-radius: 5px;
  position: absolute;
  top: 5%;
  right: 3%;
}

.blackboard {
  display: grid;
  grid-template-columns: auto 8em auto;
  gap: 1em;
  font-size: 1.8rem;
}

.math-div {
  grid-column: 1 / span 1;
  padding: 0.7em;
  background-color: rgba(76, 156, 76, 0.7);
  border-radius: 20px;
  color: white;
}

.math-div:nth-child(2n) {
  grid-column: 4 / span 1;
}

.input {
  margin-left: 0.3em;
  border: none;
  width: 3em;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.3em 0;
  text-align: center;
  border-radius: 10px;
  font-family: "Boogaloo", sans-serif;
}

.outcome {
  display: inline;
  margin-left: 1em;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
}

button {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0.2em 1em;
  cursor: pointer;
  transition: all 0.5s ease;
}

.start-button {
  margin-top: 2em;
}

.start-button.disabled,
.start-button.disabled:hover {
  background-color: #707070;
  cursor: auto;
  transform: none;
}

#check-answers-button {
  background-color: #9e4caf;
  color: #fff;
}

#check-answers-button:hover {
  background-color: #c47adc;
  box-shadow: 3px 3px 3px #707070;
  transform: scale(1.3);
}

.missing-value {
  border: 4px solid red;
  background-color: rgb(238, 180, 180);
}

#reload-button,
.start-button {
  background-color: #3498db;
  color: #fff;
}

#reload-button:hover,
.start-button:hover {
  background-color: #52a6de;
  box-shadow: 3px 3px 3px #707070;
  transform: scale(1.3);
}

.modal-hidden,
.setup-modal-hidden {
  display: none;
}

.modal,
.setup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content,
.setup-modal-content {
  background-color: white;
  margin: 5vh auto;
  padding: 2em;
  border: 3px solid;
  max-width: 750px;
  position: relative;
  text-align: center;
  color: #333;
}

.mathOperation-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  margin-bottom: 1.5em;
}

.mathOption {
  cursor: pointer;
  font-size: 1.2rem;
}

.mathOption input[type="radio"]:hover + img {
  outline: 3px solid #363636;
  outline-offset: -1px;
  border-radius: 25px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  transform: scale(1.03);
}

.mathOption input[type="radio"]:checked + img,
.mathOption input[type="radio"]:checked + img {
  outline: 4px solid rgb(40, 168, 57);
  outline-offset: -1px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(40, 168, 57, 0.7);
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.mathOperation-div input {
  display: none;
}

.team-div {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2em;
}

.missingChoice {
  border: 3px solid red;
  border-radius: 5px;
  padding: 1em;
}

.missingMathChoice,
.missingTeamChoice {
  color: red;
  font-size: 1.2rem;
  padding-bottom: 0.2em;
}

.missingMathChoice.hidden,
.missingTeamChoice.hidden {
  display: none;
}

.team-div img {
  height: 100px;
}

.team-div figure {
  padding: 15px;
  cursor: pointer;
}

.team-div figure:hover {
  background-color: hsl(0, 0%, 90%);
  border-radius: 5px;
  transform: scale(1.03);
}

.chosen-team {
  outline: 4px solid rgb(40, 168, 57);
  outline-offset: -1px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(40, 168, 57, 0.7);
  transform: scale(1.07);
  transition: all 0.2s ease;
}

.welcome-text {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.modal h3,
.setup-modal h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  font-weight: normal;
}

.modal p {
  font-size: 1.4rem;
}

h3.result-heading {
  font-size: 2rem;
}

.result-text {
  white-space: pre-line;
}

.modal .img-div {
  border: 4px #edc147;
  border-style: groove;
  border-radius: 8px;
  max-width: 450px;
  margin: 0.5em auto;
}

.result-image {
  display: block;
  margin: 0.2em auto;
  max-height: 450px;
}

.img-text {
  margin-bottom: 0.5em;
}

.player-name {
  font-weight: bold;
}

.modal-footer {
  background-color: #d6b5e1;
}

.result-time {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1em;
}

.close {
  font-family: initial;
  color: black;
  position: absolute;
  top: 0.2em;
  right: 0.3em;
  font-size: 2.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
}

/* ----- media query 1 ----- */
@media (max-width: 948px) {
  body {
    min-height: 100vh;
    background-image: url("./images/fotbollsplan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Boogaloo", sans-serif;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 3rem;
  }

  .setup-modal-content {
    padding: 1em;
    max-width: 600px;
  }

  .team-div figure {
    padding: 5px;
  }

  .welcome-text {
    font-size: 2rem;
    margin-bottom: 1em;
  }

  .blackboard {
    display: grid;
    grid-template-columns: auto 2em auto;
    gap: 0.5em;
    font-size: 1.4rem;
    margin-bottom: 1.5em;
  }

  .math-div {
    padding: 0.5em;
  }

  .input {
    width: 2.5em;
    font-size: 1.4rem;
  }

  .buttons {
    column-gap: 2em;
  }

  button {
    margin-bottom: 2em;
    font-size: 1.2rem;
    padding: 0.2em 0.7em;
  }

  .modal-content {
    margin: 7vh auto;
    padding: 2em;
    max-width: 450px;
  }

  .modal h3 {
    margin-top: 0.5em;
    font-size: 1.6rem;
  }

  .modal p {
    font-size: 1.2rem;
  }

  .result-image {
    width: 80%;
  }

  /* ----- media query 2 ----- */
  @media (max-width: 600px) {
    .setup-modal-content {
      margin: 1vh auto;
      padding: 0.5em 1em;
      border: 3px solid;
      width: 350px;
      position: relative;
      text-align: center;
    }

    .welcome-text {
      font-size: 1.5rem;
      margin-bottom: 0.8em;
    }

    .team-div {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5em;
    }

    .team-div img {
      height: 75px;
    }

    .start-button {
      margin-top: 1em;
    }
  }

  /* ----- media query 3 ----- */
  @media (max-width: 542px) {
    body {
      justify-content: center;
      gap: 2em;
    }

    h1 {
      margin: 1em 0;
      font-size: 2.5rem;
    }

    .blackboard {
      grid-template-columns: auto 0.5em auto;
      row-gap: 1em;
      font-size: 1.1rem;
      margin-bottom: 2em;
    }

    .math-div {
      padding: 0.3em;
    }

    .input {
      width: 2em;
      font-size: 1.1rem;
    }

    .buttons {
      column-gap: 2em;
    }

    button {
      margin-bottom: 1em;
      font-size: 1rem;
      padding: 0.3em 0.5em;
    }

    .modal-content {
      margin: 5vh auto;
      max-width: 350px;
    }

    .modal h3 {
      font-size: 1.3rem;
    }
  }
}
